version: '3'

services:
  website:
    build: .
    volumes:
        - ./index.html:/usr/local/apache2/htdocs/index.html
        - ./public:/usr/local/apache2/htdocs/public/
    environment:
      - VIRTUAL_HOST=snake.nilsjung.de
      - LETSENCRYPT_HOST=snake.nilsjung.de
      - LETSENCRYPT_MAIL=nils.m.jung@posteo.net
    restart: always

networks:
    default:
        external:
            name: nginx-proxy
