.snake {
    padding: 3em;
    width: 800px;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
}

.snake * {
    font-family: 'Raleway', sans-serif;
}

.snake__headline {
    color: dimgrey;
}

.snake__container {
    background: #fafafa;
    border-radius: 5px;
    border: lightgrey 3px solid;

    width: 700px;
    height: 700px;
}

.snake__container--game-over {
    background: indianred;
    justify-content: center;
    display: flex;
    align-items: center;
}

.snake__container__game-over-message {
    margin: auto;
    font-size: 20px;
    font-weight: bold;
}

.snake__game-over-information {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.snake__playground {
    height: 100%;
    width: auto;
}

.snake__information__container {
    width: 700px;
    display: flex;
    justify-content: space-evenly;
    padding: 5px 0;
}

.snake__information__label, .snake__information__value {
    font-weight: bolder;
    color: dimgrey;
}

.snake__information__label {
    margin-right: 5px;
}

