.snake {
    padding: 3em;
    width: 800px;
    height: 700px;
    margin: auto;
    background-color: #ffffff;
}
.snake__headline {
    color: dimgrey;
}

.snake__container {
    background: #fafafa;
    padding: 2em;
    border-radius: 5px;
    height: 80%;
    border: lightgrey 3px solid;
}

