.snake {
    padding: 3em;
    width: 800px;
    height: 700px;
    margin: auto;
    background-color: #ffffff;
}
.snake__headline {
    color: dimgrey;
}

.snake__container {
    background: #fafafa;
    border-radius: 5px;
    height: 80%;
    border: lightgrey 3px solid;
}

.snake__container--game-over {
    background: indianred;
    justify-content: center;
    display: flex;
    align-items: center;
}

.snake__container__game-over-message {
    margin: auto;
    font-size: 20px;
    font-weight: bold;
}

.snake__playground {
    height: 100%;
    width: 100%;
}

